@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	color: #e4e4e4;
	font-family: 'Impact';
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	user-select: none !important;
}

body {
	background-color: #181e28;
}

.navbar {
	background-color: #181e28;
	padding: 5px 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	background-image: url('../public/logo-full.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	padding: 40px 0px;
}

.nav-buttons {
	display: flex;
	gap: 0px 10px;
}

.nav-buttons a {
	font-size: 1.6rem;
	text-decoration: none;
	color: #e4e4e4;
	padding: 5px 10px;
	background-image: -webkit-linear-gradient(90deg, #e4e4e4 50%, transparent 50%);
	background-image: linear-gradient(90deg, #e4e4e4 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 100%;
	transition: background 0.5s linear, color 0.5s ease-in-out 0s;
	cursor: pointer;
}

.nav-buttons a:hover {
	background-position: 0%;
	color: black;
}

.social-medias {
	display: flex;
	gap: 0px 15px;
}

/* Homepage */
.banner {
	background-image: url('../public/banner.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

/* Global Default - Panel */
.panel {
	margin: 20px 0px;
	padding: 0px 200px;
}

.panel-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.panel-title {
	font-size: 4rem;
	margin-bottom: 40px;
}

.inv {
	background-color: white;
	color: black;
	padding: 0px 10px;
}

/* Latest News */
.news-list {
	display: grid;
	width: 100%;
	padding: 0px 0px;
	grid-template-columns: repeat(auto-fill, minmax(440px, 440px));
	justify-content: center;
	gap: 50px 50px;
}

.news-item {
	height: 250px;
	background-color: #181e28;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-size: contain;
	overflow: hidden;
}

.news-heading {
	backdrop-filter: blur(12px);
}

.news-heading p {
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	letter-spacing: normal;
	padding: 5px 20px;
	color: #e4e4e4;
}

.news-title {
	font-size: 1.3rem;
	font-weight: 700;
}

.news-date {
	font-weight: 100;
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: 400;
}

.twitter-timeline {
	width: 100% !important;
}
